<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <!---sessão de cadastro-->
        <h2>Cadastro</h2>

    <!---Formulário-->

    <section class="Cadastro">
        <h2>Cadastrar Nova Vaga</h2>
        <form action="">
            <input type="hidden" id="id_vaga">
            <!--Empresa-->
            <label for="">Empresa</label>
            <input type="text" id="empresa" placeholder="Nome empresa" required>
            <!--vaga-->
            <label for="">Vaga</label>
            <input type="text" id="vaga" placeholder="vaga de emprego" required>
            <!--salario-->
            <label for="">Salario</label>
            <input type="number" id="salario" placeholder="Salário" required>
            <!--Tipo de contrato-->
            <label for="">Tipo de contrato</label>
            <input type="text" id="tipocontrato"  placeholder="" required>
            <!--Tipo deficiencia-->
            <label for="">Tipo Deficiência</label>
            <input type="text" id="tipodeficiencia" placeholder="Mobilidade,audição " required>
            <!--Endereço-->
            <label for="">Endereço</label>
            <input type="text" id="endereco" placeholder="" required>
            <!--Beneficios-->
            <label for="">Benefícios</label>
            <input type="text" id="beneficios" placeholder="Vr,VT">
            <!---Descrição-->
            <label for="">Descrição</label>
            <textarea name="" id="descricao"></textarea>
            <!---Requisitos-->
            <label for="">Requisitos</label>
            <textarea name="" id="requisito"></textarea>
            <!--data Publicação-->
            <label for="">Data Publicada</label>
            <input type="date" id="datap">
            <!--data Expiração-->
            <label for="">Data Limite</label>
            <input type="date" id="datal">


            <button type="submit" id="">Enviar</button>

        </form>
    </section>
    <!--sessao de atualização ou excluir-->
    <h2>Atualize ou delete</h2>
    <section class="update_delete">
        <p>Digite um ID para deletar ou atualizar</p>
        <input type="number" name="" id="updel">
        <button type="submit" id="update">Atualizar</button>
        <button type="submit" id="delete">Deletar</button>
    </section>
    <footer>Feito por ...</footer>

<script></script>
</body>
</html>