<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
</head>
<body>
    <h1>Vagas Disponiveis</h1>
        <table>
            <tr>
                <th>Empresa</th>
                <th>Vaga</th>
                <th>Deficiência</th>
                <th>Tipo Contrato</th>
                <th>Tipo de Deficiência</th>
                <th>Endereço</th>
                <th>Benefícios</th>
                <th>Salário</th>
                <th>Descrição</th>
                <th>Requisitos</th>
                <th>Data de Publicaçao</th>
                <th>Data Limite</th>
            </tr>
        </table>
</body>
</html>