<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <h1>Cadastro</h1>
    </header>

    <!---Formulário-->

    <section>
        <h2>Cadastrar Nova Vaga</h2>
        <form action="">
            <input type="hidden" id="id_vaga">
            <!--Empresa-->
            <label for="">Empresa</label>
            <input type="text" id="" placeholder="" required>
            <!--vaga-->
            <label for="">Vaga</label>
            <input type="text" id="" placeholder="" required>
            <!--salario-->
            <label for="">Salario</label>
            <input type="number" id="" placeholder="" required>
            <!--Tipo de contrato-->
            <label for="">Tipo de contrato</label>
            <input type="text" id=""  placeholder="" required>
            <!--Tipo deficiencia-->
            <label for="">Tipo Deficiência</label>
            <input type="text" id="" placeholder="" required>
            <!--Endereço-->
            <label for="">Endereço</label>
            <input type="text" id="" placeholder="" required>
            <!--Beneficios-->
            <label for="">Benefícios</label>
            <input type="text" id="" placeholder="">
            <!---Descrição-->
            <label for="">Descrição</label>
            <textarea name="" id=""></textarea>
            <!---Requisitos-->
            <label for="">Requisitos</label>
            <textarea name="" id=""></textarea>
            <!--data Publicação-->
            <label for="">Data Publicada</label>
            <input type="date" id="">
            <!--data Expiração-->
            <label for="">Data Limite</label>
            <input type="date" id="">


            <button type="submit" id="">Enviar</button>

        </form>
    </section>
    <footer>Feito por ...</footer>

<script></script>
</body>
</html>