<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Pedro Toledo</title>
    <link rel="stylesheet" href="../styles/indexteste.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f3f4f6;
        }
    </style>
</head>
<body>
    <div>
        <h1>Projeto de Análise e Implementação de Software</h1>
        <h2>Site de vagas para pessoas PCD</h2>
        <p>O projeto é um site voltado para a inclusão de pessoas com deficiência (PCD)
            a ideia principal é criar uma plataforma simples e acessível, onde possam ter vagas cadastradas para pessoas PCD.</p>
            <p>O sistema foi desenvolvido usando Spring Boot no back-end e HTML, CSS e JavaScript no front-end</p>
            <a href="Allvagas.html"><button class="button1">Ver vagas disponiveis</button></a>
            <a href="login.html"><button class="button2">Login</button></a>
    </div>
</body>
</html>