<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Pedro Toledo</title>
</head>
<body>
    <h1>Projeto de Análise e Implementação de Software</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, vitae quidem! Sequi quos temporibus, deserunt tempora nulla voluptatem exercitationem optio, quo dolorum excepturi culpa ex expedita unde est, delectus maiores?</p>
    <p>Teste teste Suposto texto falando sobre nosso projeto</p>
</body>
</html>