.form-vaga {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}


.form-group-grid {
    display: grid;
    gap: 20px;
    align-items: flex-start; 
}


.grid-1-2 {
    grid-template-columns: 1fr 1fr;
}


.grid-1-3 {
    grid-template-columns: 1fr 1fr 1fr;
}


.form-group {
    /* Nenhuma alteração aqui, apenas garante que ocupará o espaço do grid */
}


.input-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif; 
    resize: vertical; 
}

.input-date {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.full-width-button {
    width: 100%;
    padding: 15px;
    font-size: 1.1em;
    margin-top: 10px;
}


@media (max-width: 768px) {
    /* Em telas menores, o grid deve voltar a ser uma única coluna */
    .grid-1-2,
    .grid-1-3 {
        grid-template-columns: 1fr;
    }
}


.tabela-vagas { 
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}